.neomorph-button {

  border: none;
  background-color: #141414ee;
  backdrop-filter: blur(10px);
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.288),
              10px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  box-shadow: 0.3s  ease-in-out;
  border: 0.5px solid #ffffff3d; 
  position: fixed;
  z-index: 12;
  transform: rotate(0);
  transition: .3s ease;
  color : white;
}

.neomorph-button:hover {
  transform: translateY(-5px);
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.336),
              5px 5px 10px rgba(0, 0, 0, 0.2);
  transform: rotate(224deg);
}